

<div class="page">
    <app-sidebar></app-sidebar>

    <div class="profile-container">
        <div class="profile-picture">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <!-- <img [src]="userProfile.picture" alt="User Picture"> -->
        </div>
        <div class="profile-info">
            <h2>{{ fullName }}</h2>
            <p>{{ email }}</p>
            <div>
                <a routerLink="/login" mat-raised-button>Log out</a>
            </div>
        </div>
    </div>
</div>

