<div class="wrap-center">

    <div class="wrap-center separator-40">
        <h1 class="header">Inviguard</h1>

        <h1>Streamline Your Warehouse Operations with Inviguard</h1>
        <p>Effortlessly manage your inventory, track orders, and ensure seamless operations all in one platform.</p>
    </div>


    <div class="landing-bottom">
        <p class="access">Register now to optimize your warehouse management and stay ahead with Inviguard.</p>
    </div>

    <p class="buttons">
    <a class="register" mat-raised-button color="primary" routerLink = "register">Register</a>
    <a class="login" mat-raised-button color="primary" routerLink = "about">Log in</a>
    </p>
</div>