<app-sidebar></app-sidebar>

<div class="page">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
    <div style="margin-left: 100px" >
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <h3>Make an Order</h3>
                <div style="margin-bottom: 5px">
                    <span>Item</span>
                    <div>
                    <select formControlName="itemId" class="items">
                        <option *ngFor="let item of items" [value]="item.id">{{item.itemName}} ({{item.leftInStock}})</option>
                    </select>
                    </div>
                </div>

                <div style="margin-bottom: 5px">
                    <span>Number</span>
                    <div>
                    <input formControlName="numberOrdered" type="number" class="items"/>
                    </div>
                </div>

                <div style="margin-bottom: 5px">
                    <span>User ID</span>
                    <div>
                    <input formControlName="userId" type="text" class="items" />
                    </div>
                </div>

                <div>
                    <button mat-flat-button color="primary" type="submit" class="createButton" class="createButton">
                        Create
                    </button>
                </div>
            </form>
    </div>
        </mat-grid-tile>

        <mat-grid-tile class="secondBox">
            <mat-card class="example-card" *ngIf="order">
                <mat-card-header>
                    <mat-card-title>Order ID: {{ order.id }}</mat-card-title>
                    <mat-card-subtitle>Item Name: {{ order.item.itemName }}</mat-card-subtitle>
                    <mat-card-subtitle>Item ID: {{ order.item.id }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Quantity Ordered: {{ order.numberOrdered }}</p>
                    <p>Ordered by User ID: {{ order.user.id }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button (click)="deleteOrder(order.id)">REMOVE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>

        <div class="secondCol">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let order of orders">
                    <div class="item-list">
                            <div>
                                <strong style="color: darkred">ItemId:</strong> {{ order?.item?.id }}; <strong style="color: darkred">ItemName:</strong> {{order?.item?.itemName}};
                                <strong style="color: darkred">OrderedBy</strong> {{order?.user?.id}}; <strong style="color: darkred">Quantity:</strong> {{ order.numberOrdered }};
                                <strong style="color: darkred">Date ordered:</strong> {{ order.orderDate }};
                                <button mat-raised-button color="warn" (click)="getOneOrder(order.id)">Select</button>
                            </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>

</div>





