button{
  margin: 20px;
}
/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.page{
  display: grid;
  grid-template-columns: auto 1fr;
}

p {
  margin-left: 250px;
  margin-top: 0px;
}

.item-list{
  border-bottom: 1px solid gray;
}
