<div class="page">
    <app-sidebar></app-sidebar>

    <div style="margin-top: 180px; margin-left: 100px">
        <div>
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <div style="margin-bottom: 5px">
                    <span>Item to Order:</span>
                    <select formControlName="itemId">
                        <option *ngFor="let item of items" [value]="item.id">{{item.itemName}} ({{item.leftInStock}})</option>
                    </select>
                </div>

                <div style="margin-bottom: 5px">
                    <span>Number:</span>
                    <input formControlName="numberOrdered" type="number" />
                </div>

                <div style="margin-bottom: 5px">
                    <span>User ID:</span>
                    <input formControlName="userId" type="text" />
                </div>

                <div>
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>

        <div class="item-list">
            <mat-card class="example-card" *ngIf="order">
                <mat-card-header>
                    <mat-card-title>Order ID: {{ order.id }}</mat-card-title>
                    <mat-card-subtitle>Item ID: {{ order.itemId }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Quantity Ordered: {{ order.numberOrdered }}</p>
                    <p>Ordered by User ID: {{ order.userId }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="deleteOrder(order.id)">REMOVE</button>
                    <button mat-button (click)="updateOrder()">UPDATE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let order of orders">
                    <div class="item-list">
                        <div>
                            Item Ordered: {{order.itemId}}; Quantity: {{ order.numberOrdered }}
                            <button type="button" (click)="getOneOrder(order.id)">Select</button>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>




