


<div class="sidebar">
    <ul>
        <a routerLink="" mat-fab color="" class="circularbutton">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
        <a routerLink="/profile" class="primary-button" mat-flat-button color="primary">Profile</a>
        <a class="primary-button" mat-flat-button color="primary" routerLink="/dashboard">Dashboard</a>
        <a class="primary-button" mat-flat-button color="primary" routerLink="/inventory">Inventory</a>
        <a class="primary-button" mat-flat-button color="primary"routerLink="/orders">Orders</a>
  </ul>
</div>

