<app-sidebar></app-sidebar>


<div class="page">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
        <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-container">
            <mat-card>
                <mat-card-header class="header">
                    <mat-card-title>Create Item</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Item Name</mat-label>
                        <input matInput formControlName="itemName" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Left in Stock</mat-label>
                        <input matInput formControlName="leftInStock" type="number" />
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions class="createButton">
                    <button mat-raised-button color="primary" type="submit" class="createButton">Create</button>
                </mat-card-actions>
            </mat-card>
        </form>
        </mat-grid-tile>

        <mat-grid-tile>
        <div class="item-list">
            <mat-card class="example-card" *ngIf="item">
                <mat-card-header>
                    <mat-card-title>{{item.itemName}}</mat-card-title>
                    <mat-card-subtitle>Id: {{item.id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Left in Stock: {{item.leftInStock}}</p>
                </mat-card-content>
                <mat-card-actions class="buttons">
                    <button mat-stroked-button (click)="deleteItem(item.id)">REMOVE</button>
                    <button mat-stroked-button (click)="updateItem()">UPDATE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-list role="list" class="secondRow">
        <mat-list-item role="listitem"
                       *ngFor="let item of items" class="secondRow">
            <div class="itemsList">
                <div> <strong>Item: </strong>{{item.itemName}}; <strong>Left in Stock: </strong> {{item.leftInStock}}
                <button class="selectButton" mat-raised-button color="warn" (click)="getOneItem(item.id)">Select</button></div>
            </div>
        </mat-list-item>
    </mat-list>


</div>

