<body>
<div class="center">
    <mat-icon class="personIcon" aria-hidden="false" aria-label="Person icon" fontIcon="person"></mat-icon>
    <div class="login-header">
        <p class="header">USER REGISTER</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="wrap-column">
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input type="text" [formControlName]="'fullName'" matInput placeholder="Enter your full name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" [formControlName]="'email'" matInput placeholder="Enter your email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input type="text" [formControlName]="'phoneNumber'" matInput placeholder="Enter your phone number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Create password</mat-label>
            <input type="password" [formControlName]="'password'" matInput placeholder="Enter your password">
        </mat-form-field>
        <button class="primary-button" mat-flat-button color="primary" type="submit">Register</button>
    </div>
</form>
</div>
</body>
<router-outlet></router-outlet>



